<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>
    <b>List of Accounts:</b>
</p>

<div th:if="${ not#lists.isEmpty(accounts)}">
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Account type</th>
            <th>Account balance</th>
            <th>Date-time created</th>
            <th>Account number</th>
        </tr>
        <tr th:each="account : ${accounts}">
            <td th:text="${account.user.username}"></td>
            <td th:text="${account.type}"></td>
            <td th:text="${#numbers.formatDecimal(account.balance, 0, 2)}"></td>
            <td th:text="${account.createdDate}"></td>
            <td th:text="${account.accountId}"></td>
        </tr>
    </table>
</div>
<h4><a th:href="@{/}">Click here to go back</a></h4>
</body>
</html>