<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create account</title>
</head>
<body>
<div>
    <form action="/create-account" method="post" th:object="${account}">
        <b>Create new account:</b> <br>
        <br>Account type<br>
        <label>
            <input type="text"
                   th:field="*{type}"
                   name="type"
                   required/>
        </label>
        <br>Amount<br>
        <label>
            <input type="number" step="any"
                   th:field="*{balance}"
                   name="amount"/>
        </label>
        <br>
        <input type="submit"/>
        <br>
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
        <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
    </form>
</div>
<h4><a th:href="@{/}">Click here to go back</a></h4>
</body>
</html>