<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
</head>
<body>
<h1>Please Log In</h1>
<div th:if="${param.error}">
    Invalid username and password.</div>
<div th:if="${param.logout}">
    You have been logged out.</div>
<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="username" placeholder="Username" required/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password" required/>
    </div>
    <input type="submit" value="Log in" />
</form>
<h4>Not a member? <a th:href="@{/register}">Click here to register</a></h4>
<h4><a th:href="@{/}">Click here to go back</a></h4>
</body>
</html>