<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage User</title>
</head>
<body>
<div>
    <form action="/manage-user" method="post" th:object="${user}">
        <b>Enter your details to be changed or leave them as it is:</b> <br>
        <br>First Name <br>
        <input type="text"
               th:field="*{firstName}"
               name="first name"
               th:text="*{firstName}"/>
        <b>(old)</b>
        <br>Last Name<br>
        <input type="text"
               th:field="*{lastName}"
               name="last name"
               th:text="*{lastName}"/>
        <b>(old)</b>
        <br>Mobile<br>
        <input type="tel"
               pattern="^[0-9]{6,12}$"
               th:field="*{mobile}"
               name="mobile"
               th:text="*{mobile}"/>
        <b>(old)</b>
        <br>Address<br>
        <input type="text"
               th:field="*{address}"
               name="address"
               th:text="*{address}"/>
        <b>(old)</b>
        <br>Email<br>
        <input type="email"
               th:field="*{email}"
               name="email"
               th:value="*{email}"
               disabled/>
        <br>Date of Birth<br>
        <input type="text"
               th:field="*{dob}"
               name="dob"
               th:value="*{dob}"
               disabled/>
        <br>username<br>
        <input type="text"
               th:field="*{username}"
               name="username"
               th:value="*{username}"
               disabled/>
        <br>Enter password to change details<br>
        <input type="password"
               th:field="*{password}"
               name="password"
               required="required"/>
        <br>
        <input type="submit"/>
    </form>
</div>
<h4><a th:href="@{/}">Click here to go back</a></h4>
<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
</body>
</html>